<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Uh Oh</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='newsletter.css') }}">
  </head>
  <body>
    <ul>
     <li><a href="/"><b>Quizscrape</b></a></li>
     <li><a href="/news">News</a></li>
     <li style="float:right"><a class="active" href="/about">About</a></li>
   </ul>
   <br>
    <div class="error_box">
        <h1>ERROR 404</h1>
        <hr>
        <img src="{{url_for('static', filename='error404.png')}}" style="height: 300px;"/>
        <h3>This shit ain't real</h3>
    </div>
  </body>
</html>
