<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Uh Oh</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='newsletter.css') }}">
  </head>
  <body>
    <ul>
     <li><a href="/"><b>Quizscrape</b></a></li>
     <li><a href="/news">News</a></li>
     <li style="float:right"><a class="active" href="/about">About</a></li>
   </ul>
   <br>
    <div class="error_box">
        <h1>Uh Oh</h1>
        <h2>Something went wrong on our end...</h2>
    </div>
  </body>
</html>
