<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quizscrape</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='newsletter.css') }}">
  </head>
  <body>
    <ul>
     <li><a href="/"><b>Quizscrape</b></a></li>
     <li style="float:right"><a class="active" href="/about">About</a></li>
   </ul>
   <br>
        <div class="quizlet_card">
          <h2 class="result">What is Quizscrape?</h2>
          <hr>
          <p class="source">Quizscrape is a python webscraper for quiz answers using existing quizlet decks created by professors and students in the past. With the COVID Pandemic bringing most schooling online, I noticed a much greater level of cheating amoungst my peers through use of the web. Particularly in the form of searching through Quizlet decks. This project is an experiment to see to what extent the massive amount of public data online can be utilized for the purposes of academic dishonesty. Using Quizlet decks itself is not a new method of cheating but employing webscraping and automation greatily increases the harmfulness of this practice due to its far greater efficiency. </p>
        </div>
  </body>
</html>
