<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quizscrape</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='newsletter.css') }}">
  </head>
  <body>
    <ul>
     <li><a href="/"><b>Quizscrape</b></a></li>
     <li><a href="/news">News</a></li>
     <li style="float:right"><a class="active" href="/about">About</a></li>
   </ul>
    <h2 class="quizlet">Newsletter</h2>
        <div class="quizlet_card">
          <h2 class="result">Welcome to Quizscrape!</h2>
          <hr>
          <p class="source"> Quizscrape is a free webtool built to compile the best results of any copy-pasted question into an easily digestable format. Our algorithms focus on speed and readability for the best user experience regardless of time crunch.</p>
          <h4 class="similarity">1/2/2021</h4>
        </div>
  </body>
</html>
